<aside class="main-aside">

  <!-- === Вертикальная реклама === -->
  <!-- <div class="aside-box">
    {% include /ad-lifehacks.html %}
  </div> -->
  <!-- === Вертикальная реклама === -->

  <div class="aside-box">

    <!-- Последние статьи в сайдбаре -->
    {% include /last-articls-aside.html %}

  </div>

  <div class="aside-box">

    <!-- Yandex Native Ads C-A-2389851-3 -->
    <div id="yandex_rtb_C-A-2389851-3"></div>
    <script>window.yaContextCb.push(()=>{
      Ya.Context.AdvManager.renderWidget({
        renderTo: 'yandex_rtb_C-A-2389851-3',
        blockId: 'C-A-2389851-3'
      })
    })</script>

  </div>

  <!-- <div class="aside-box">
    {% include /latest-comments.html %}
  </div> -->

</aside>